/*
 shell
 */
.content {
  border-width: 0 1px;
  border-style: solid;
  border-color: #ccc;
}

.contentWrapper {
  margin-top: 55px;
  padding: 0;
}

.mainView {
  padding: 0 5px;
  background: #fff;
}

h1 {
  font-size: 20px;
  padding: 0;
  line-height: 20px;
  margin: 0;
}

/*
 bootstrap overrides
 */
ul {
  padding: 1px 0 0 0;
  list-style: none;
}

ul li:last-child {
  border-bottom: none;
}

.row {
  margin: 0 0 5px 0;
}

.fake {
  border: none;
  width: 55%;
  padding-left: 15px;
}
.nav-tabs {
  margin-bottom:0;

}
.nav-tabs > li.fake a:hover {
  background: #fff;
  border-width: 1px 0 1px;
  border-color: #fff #fff #ddd #fff;
  border-style: solid
}

.nav-tabs > li.fake > div {
  line-height: 40px
}

.nav-tabs > li.fake a {
  display: inline;
}

.course-list > li {
  padding: 5px 0;
}

li.active a {
  background: #f2f2f2 !important
}

.visibleTab {
  visibility: visible;
}

.notvisibleTab {
  visibility: hidden;
}

a.pseudolink {
  color: #aaa;
  cursor: text;
  background: none
}

a.pseudolink:hover {
  background: #fff !important;
  border-color: #fff #fff #ddd #fff !important;
  border:transparent;
  cursor: text;
}

.bookTitle {
  font-size: 16px;
}

/*
non-boostrap styles
*/

.noPhase1 {
	display:none !important
}
.pane {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 10px;
  background: #f2f2f2
}

.status {
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

.muted {
  color: #555;
}

.book {
  border-bottom: 1px solid #ddd;
  padding: 10px
}

.book h3 {
  font-size: 16px;
  line-height: 16px;
  margin:10px 0;
  padding:0;
}

.instructorInfo {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.instructorName {
  white-space: nowrap;
  margin-left: 30px;
  font-size: 90%;
  color: #666
}
.courseNote {
  padding:20px 10px;
  border-top:1px solid #ddd
}
.coursePackInfo {
   padding:20px 10px;
  border-top:1px solid #ddd
}
.courseDescription {
  padding: 15px 0 10px;
}

.sellLinks {
  padding-bottom: 10px;
}

.sellLinks a {
  padding-right: 10px
}

.courseItem h2 {
  font-size: 16px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

/*
 angular animations for desktop
 */
.view-animate-container {
  position: relative;
}

.view {
    width: 100%;
    position:absolute;
    padding:5px;
    top: 0;
    left: 0;
}

.slideLeft.ng-enter, .slideLeft.ng-leave, .slideRight.ng-enter, .slideRight.ng-leave  {
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
  opacity: 0;
}

.slideLeft.ng-enter.ng-enter-active {
  opacity: 1;
}

/*
mobile
*/
@media (max-width: 480px) {
  .mainView {
    padding:0;
  }
  .mainView > ul,.itemPanel > ul > li {
    padding:0;
  }
  /*
   angular animations for mobile
   */
  .view-animate-container {
    position: relative;
  }
  .view {
      width: 100%;
      position:absolute;
      padding:0;
      top: 0;
      left: 0;
  }
  .viewInner {
    padding:5px;
  }
  .slideLeft.ng-enter, .slideLeft.ng-leave, .slideRight.ng-enter, .slideRight.ng-leave  {
      -webkit-transition:all .5s;
      transition:all .5s;
  }
  .slideLeft.ng-enter {
      left:100%;
  }
  .slideLeft.ng-enter.ng-enter-active {
      left:0;
  }
  .slideLeft.ng-leave.ng-leave-active {
      left:-100%;
  }
  .slideRight.ng-enter {
      left:-100%;
  }
  .slideRight.ng-enter.ng-enter-active {
      left:0;
  }
  .slideRight.ng-leave.ng-leave-active {
      left:100%;
  }
}
