<div class="spinner" ng-show="loading"></div>
<div ng-show="error" class="alert alert-danger"><p>We asked for <code>{{errorUrl}}</code></p><p>But something happened! We are very sorry.</p></div>
<span style="display:none" id="isbnHolder">{{isbns}}</span>
<ul class="course-list">

    <li ng-repeat="course in courses" class="courseItem">
        <ul class="nav nav-tabs row navTabs" role="tablist">
            <li class="fake col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div>
                    <h2 class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4" style="white-space:nowrap">
                            {{course.SubjectCode}} {{course.CatalogNumber}} {{course.SectionNumber}}
                        </div>
                        <!-- not in more recent data feed
                        <div class="col-lg-8  col-md-8 col-sm-8 hidden-xs hidden-sm">
                            <small class ="instructorName" ng-show="course.Instructor.Name">
                                {{course.Instructor.Name | fixInstructorName }} (<a href="mailto:{{course.Instructor.Email | lowercase}}" class="mailTolink">{{course.Instructor.Email | lowercase}}</a>)
                            </small>
                            <small class ="instructorName" ng-hide="course.Instructor.Name || course.Instructor.length">
                                Staff
                            </small>
                            <div ng-show="course.Instructor.length">
                                <small class="instructorName" ng-repeat="instructor in course.Instructor | orderBy:'Role' | limitTo:1">
                                {{instructor.Name | fixInstructorName }} (<a href="mailto:{{instructor.Email | lowercase}}" class="mailTolink">{{instructor.Email | lowercase}}</a>)</small>
                            </div>

                        </div>
                    -->
                    </h2>
                </div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:right">
                <a ng-show="(course.Textbook.length) || course.InstructorNotes || course.CoursePackLocation" class="booksControl" href="" role="tab">Books</a>
                <a ng-hide="(course.Textbook.length && course.Textbook[0].ItemType !=='') || course.InstructorNotes || course.CoursePackLocation" class="pseudolink">Books</a>
            </li>
            <!--// since no instructor or subtitle in latest feed, nothing to show
            <li class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
                <a ng-show="course.description" class="hidden-xs hidden-sm infoControl" href="" role="tab"  style="display: inline-block;">Info</a>
                <a ng-hide="course.description" class="hidden-xs hidden-sm pseudolink">Info</a>
                <a class="visible-xs visible-sm infoControl" href="" role="tab" style="display: inline-block;margin:0;width:50px">Info</a>
            </li>
        -->
        </ul>
        <div class="tab-content">
            <div class="pane booksPane tab-pane">
                <!--// since no instructor or subtitle in latest feed, nothing to show
                <div class="visible-xs visible-sm instructorInfo">
                    <div ng-show="course.Instructor.Name">
                        {{course.Instructor.Name | fixInstructorName }} (<a href="mailto:{{course.Instructor.Email | lowercase}}" class="mailTolink">{{course.Instructor.Email | lowercase}}</a>)
                    </div>
                    <div ng-hide="course.Instructor.Name || course.Instructor.length">
                        Staff
                    </div>
                    <div ng-show="course.Instructor.length">
                        <small ng-repeat="instructor in course.Instructor | orderBy:'Role'">
                            {{instructor.Name | fixInstructorName }} (<a href="mailto:{{instructor.Email | lowercase}}" class="mailTolink">{{instructor.Email | lowercase}}</a>)<span ng-show="!$last">, </span>
                        </small>
                    </div>
                </div>
                -->
                <div ng-show="course.InstructorNotes" class="instructorNotes">{{course.InstructorNotes}}</div>
                <div ng-show="course.CoursePackLocation" class="coursePackInfo"><span class="status" ng-show="course.CoursePackRequired ==='Y'">Coursepack Required</span><span ng-show=
                "course.CoursePackLocation"> Find at: {{course.CoursePackLocation}}</span></div>
                <ul ng-show="course.Textbook">
                    <li ng-repeat="book in course.Textbook" class="book" id="book{{$index}}">
                        <div class="metadata row">
                            <div class="col-md-1 col-lg-1 hidden-xs hidden-sm">
                                <img class="bookCover" src="http://img9.gettextbooks.com/pi/{{book.ISBN}}/75/200" />
                            </div>
                            <div class="col-md-11 col-lg-11 col-sm-12 col-xs-12">
                                <h3 class="bookTitle">{{book.Title | titlecase}}</h3>
                                <p class="author">
                                    <span ng-show="book.Author">{{book.Author}} </span>
                                    <span ng-show="book.PubLocation">{{book.PubLocation}}.</span>
                                    <span ng-show="book.Publisher">{{book.Publisher}}:</span>
                                    <span ng-show="book.PubYear">{{book.PubYear}}.</span>
                                </p>
                                <p class="author"> 
                                    <span ng-show="book.OnReserve ==='Y'">This item is on reserve.</span>
                                    <span ng-show="book.EditionOk ==='N'">This edition is required.</span>
                                    <span ng-show="book.EditionOk ==='Y'">Other editions are OK.</span>
                                    <span ng-show="book.LateUse ==='N'">Need it at the start of the term.</span>
                                    <span ng-show="book.LateUse ==='Y'">Will not be needing it till later in the term.</span>
                                    <span ng-show="book.RequirementStatus" class="status">&nbsp;&nbsp;{{book.RequirementStatus}}</span>

                                </p>
                                <div class="sellLinks">
                                    <!--
                                    <a class="offerBook noPhase1" href="" data-toggle="modal" data-target="#sellModal">Sell your copy</a>
                                    <a class="seeOffers noPhase1" ng-show="book.available" href="#/offers/{{book.id}}">
                                        Buy ({{book.available}} available)</span>
                                    </a>
                                    -->
                                    <div ng-show="book.ISBN">
                                        <strong class="muted">Buy:</strong>
                                        <a class="gotoVendor" target="_blank" href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords={{book.ISBN}}">Amazon</a>
                                        <a class="gotoVendor" target="_blank" href="http://www.gettextbooks.com/isbn/{{book.ISBN}}">Textbooks.com</a>
                                        <a class="gotoVendor" target="_blank" href=" http://www.booksprice.com/comparePrice.do?l=y&searchType=compare&inputData={{book.ISBN}}">BooksPrice.com</a>
                                        <strong class="muted">Sell:</strong>
                                        <a class="gotoVendor" target="_blank" href="http://www.bookfinder.com/buyback/search/#{{book.ISBN}}">BookFinder</a>
                                        <a class="gotoVendor" target="_blank" href="http://www.cash4books.net/main.php?isbn={{book.ISBN}}">Cash4Books</a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--//not in the most recent data
            <div class="pane tab-pane infoPane">
                <div class="visible-xs visible-sm instructorInfo">
                    <div>
                        <span ng-show="course.Title">{{course.Title}}</span>
                        <span ng-show="course.SectionNumber">Section {{course.SectionNumber}}</span>
                        <span ng-show="course.Subtitle">{{course.Subtitle}}</span>
                    </div>
                    <div ng-show="course.Instructor.Name">
                        {{course.Instructor.Name | fixInstructorName }} (<a href="mailto:{{course.Instructor.Email | lowercase}}" class="mailTolink">{{course.Instructor.Email | lowercase}}</a>)
                    </div>
                    <div ng-hide="course.Instructor.Name || course.Instructor.length">
                        Staff
                    </div>
                    <div ng-show="course.Instructor.length">
                        <small ng-repeat="instructor in course.Instructor | orderBy:'Role'">
                            {{instructor.Name | fixInstructorName }} (<a href="mailto:{{instructor.Email | lowercase}}" class="mailTolink">{{instructor.Email | lowercase}}</a>)<span ng-show="!$last">, </span>
                        </small>
                    </div>
                </div>
            </div>
            -->
        </div>
    </li>
</ul>
