<div class="printView">
    <h3>Courses with books listed</h3>
    <ul class="course-list">
        <li ng-repeat="course in courses" class="courseItem courseItemPrint"  ng-show="course.Textbook[0].Title">
            <div>
                <ul class="row" role="tablist">
                    <li class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div>
                            <h2 class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12" style="padding-left:0">
                                    {{course.SubjectCode}} {{course.CatalogNumber}} {{course.SectionNumber}}
                                </div>
                                <!--//not in most recent data
                                <div class="col-lg-8  col-md-8 col-sm-8 hidden-xs">
                                    <small class ="instructorName" ng-show="course.Instructor.Name">aaa1
                                        {{course.Instructor.Name | fixInstructorName }} {{course.Instructor.Email | lowercase}})
                                    </small>
                                    <small class ="instructorName" ng-hide="course.Instructor.Name || course.Instructor.length">aaa2
                                        Staff
                                    </small>
                                    <div ng-show="course.Instructor.length">
                                        <small class="instructorName" ng-repeat="instructor in course.Instructor | orderBy:'Role' | limitTo:1">
                                        Instructor: {{instructor.Name | fixInstructorName }} ({{instructor.Email | lowercase}})</small>
                                    </div>
                                </div>
                            -->
                            </h2>
                        </div>
                    </li>
                </ul>
                <div ng-show="course.Textbook.length || course.InstructorNotes || course.CoursePackLocation">
                    <div class="pane_print">
                        <div>
                            <div ng-show="course.InstructorNotes" class="instructorNotes">{{course.InstructorNotes}}</div>
                            <div ng-show="course.CoursePackLocation" class="coursePackInfo">
                                <span class="status" ng-show="course.CoursePackRequired ==='Y'">Coursepack Required.</span>
                                <span ng-show="course.CoursePackLocation"> Find at: {{course.CoursePackLocation}}.</span>
                            </div>
                        </div>
                        <ul ng-show="course.Textbook">
                            <li ng-repeat="book in course.Textbook" class="book_print" id="book{{$index}}">
                                <h3 class="bookTitle">{{book.Title}}</h3>
                                <div class="metadata">
                                    <p class="author">
                                        <span ng-show="book.Author">{{book.Author}} </span>
                                        <span ng-show="book.PubLocation">{{book.PubLocation}}.</span>
                                        <span ng-show="book.Publisher">{{book.Publisher}}:</span>
                                        <span ng-show="book.PubYear">{{book.PubYear}}.</span>
                                    </p>
                                    <p class="author"> 
                                        <span ng-show="book.OnReserve ==='Y'">This item is on reserve.</span>
                                        <span ng-show="book.EditionOk ==='N'">This edition is required.</span>
                                        <span ng-show="book.EditionOk ==='Y'">Other editions are OK.</span>
                                        <span ng-show="book.LateUse ==='N'">Need it at the start of the term.</span>
                                        <span ng-show="book.LateUse ==='Y'">Will not be needing it till later in the term.</span>
                                        <span ng-show="book.RequirementStatus" class="status">&nbsp;&nbsp;{{book.RequirementStatus}}</span>
                                    </p>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
